{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
     <head>
        <title>{% trans 'longsearch' %}</title>
        {% include "fh/includes/head.html" %} 
        <style>
        img { 
             width:auto; 
            } 
        </style>  
     </head>
    <body>
        <div class="container">
            <link rel="stylesheet" type="text/css" href="{% static 'fh/longsearch' %}">
            {% include "fh/includes/navbar.html" %} 
            
            <h1>{% trans 'Results' %}</h1>
            {% for e in entries %}
                <div class="col-sm-5">
                    <a href="/detail?id={{e.id}}">
                    <h2>{{e.description}}</h2>
                    
                        <img src={{e.image}} class ="img-circle" alt="{% trans 'entity_image' %}" style="float:left;height:200px;">
                    </a>
                </div>
                <div class="col-sm-5">
                    <p>
                        <h3>{% trans 'Personal Details' %}</h3>
                        {% trans 'Lived from the' %} {{e.day_of_birth}}.{{e.month_of_birth}}.{{e.year_of_birth}} {% trans ' to the' %} {{e.day_of_death}}.{{e.month_of_death}}.{{e.year_of_death}} <br/>
                        {% trans 'Reached the age of' %} {{e.lifespan}}<br/>
                        {% trans 'Born in:' %} <a target="_blank" href ="/maps?lat={{e.place_of_birth.lng}}&amp;lng={{e.place_of_birth.lat}}">{{e.place_of_birth.label}}</a> <br/>
                        {% trans 'Died in:' %} <a target="_blank" href ="/maps?lat={{e.place_of_death.lng}}&amp;lng={{e.place_of_death.lat}}">{{e.place_of_death.label}}</a><br/>
                        {% trans 'Native language:' %} {{e.native_lang}}<br/>
                        {% trans 'Link to the WikiData Site of' %} <a target="_blank" href= "https://www.wikidata.org/wiki/{{e.wiki_link}}">{{e.description}}</a><br/>
                        {% trans 'Link to the Wikipedia Site of' %} <a target="_blank" href= "https://{{ LANGUAGE_CODE }}.wikipedia.org/wiki/{{e.description|urlencode}}"> {{e.description}}</a><br/>
                        <br/>
                        <form method="POST" action="/search" class="form-inline">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="text" value="{{e.description}}" name="search" style ="display:none;">
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">{% trans 'detail_site' %}</button>
                        </form>
                        <br/>
                        <br/><br/>
                    </p>
                </div>   
            {% endfor %}    
        </div>
    </body>
</html>