{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% trans 'maps' %}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {% include "fh/includes/head.html" %} 
    <link rel="stylesheet" type="text/css" href="{% static 'fh/maps.css' %}"/>
    <script src="{% static 'fh/fh.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
     <style>
     #slider label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}
     </style>
    <script>
        $( function() 
        {
            $("#slider").slider(
            {
                min: 0,
                max: 100,
                step: 5,
                value: {{km}}
                
            }).each(function() {

        // Add labels to slider whose values 
        // are specified by min, max
    
        // Get the options for this slider (specified above)
        var opt = $(this).data().uiSlider.options;
    
        // Get the number of possible values
        var vals = 2;
    
        // Position the labels
        for (var i = 0; i <= vals; i++) {
    
            // Create a new element and position it with percentages
            var el = $('<label class="text-nowrap">' + (i*50 + opt.min) + ' km</label>').css('left', (i/vals*100) + '%');
    
            // Add the element inside #slider
            $("#slider").append(el);
        }

});;
        });
    </script>     
    <div class="container"> 
        {% include "fh/includes/navbar.html" %} 
        <div class="col-sm-7">
            <div id="slider"></div>
            <br/><br/>
            <div id="map" class="img-rounded">
                <script>
                    var map;
                    var marker = [];
                    var latc = {{lat}};
                    var lngc = {{lng}}; 
                    
                    function initMap() {
                        
                        map = new google.maps.Map(document.getElementById('map'), {                
                            center: {lat: latc, lng: lngc},
                            zoom: 8
                        });
                        
                        var cstr = '{% trans 'center' %}';   
                        center = new google.maps.Marker({
                              position: {lat:  comma_point(latc), lng:  comma_point(lngc)},
                              map: map,
                              title: cstr,
                            });   
                                    
                        {% for e in entries%}
                            //born
                            latb = '{{e.place_of_birth.lat}}';
                            lngb = '{{e.place_of_birth.lng}}';
                            labelb = '{{e.place_of_birth.label}}';
                            //console.log (latb + "," + lngb + "," + labelb);
                            
                            // var icon = new google.maps.MarkerImage(
                            //'{{e.image}}',
                            //null, /* size is determined at runtime */
                            //null, /* origin is 0,0 */
                            //null, /* anchor is bottom center of the scaled image */
                            //new google.maps.Size(42, 68) ); 
            
                            m = new google.maps.Marker({
                              position: {lat:  comma_point(latb), lng:  comma_point(lngb)},
                              map: map,
                              title: labelb,
                              born: true, //false:death,
                              icon: "static/fh/img/born.png",
                              id : '{{e.id}}',
                              description : '{{e.description}}',
                              image : '{{e.image}}'
                            });
                            
                            marker.push(m);
                                  
                            {% if e.place_of_death.label %}
                            
                                latd = '{{e.place_of_death.lng}}';
                                lngd = '{{e.place_of_death.lat}}';
                                labeld = '{{e.place_of_death.label}}';
                                
                                m = new google.maps.Marker({
                                  position: {lat:  comma_point(latd), lng:  comma_point(lngd)},
                                  map: map,
                                  title: labeld,
                                  born: false, //false:death
                                  icon: "static/fh/img/died.jpeg",
                                  id : '{{e.id}}',
                                  description : '{{e.description}}',
                                  image : '{{e.image}}'
                                });
                                
                                marker.push(m);
                            
                            {% endif %}       
                        {%endfor %}       
                        
                        
                        for (var i = 0; i < marker.length;i++)
                        {
                            google.maps.event.addListener(marker[i], 'click', function () 
                            {
                                findNearestMarker(this.getPosition());
                            }); 
                        }
                                    
                        google.maps.event.addListener(map, 'click', function(event) 
                        {
                            findNearestMarker(event.latLng);
                            //var lat = event.latLng.lat();
                            //var lng = event.latLng.lng();
                        });
                    } //init map
                    
                     function findNearestMarker(coords) 
                    {
                        var d = document.getElementById('data');
                        d.innerHTML = '<br/><br/><h3>{% trans 'People found' %}</h3>';
                        var minDist = $("#slider").slider("value") * 1000, //we deal with km, not m
                        nearest_text = '*None*',
                        markerDist;
                        
                      // iterate over objects and calculate distance between them
                      for (var i = 0; i < marker.length; i += 1) 
                      {
                      
                        var distance = google.maps.geometry.spherical.computeDistanceBetween(marker[i].getPosition(), coords);       

                        if (distance < minDist) 
                        {
                            d.innerHTML += "<h3 class='text-nowrap'><img height='70'  src='" + marker[i].image + "' class ='img-circle' alt='{% trans 'entity_image' %}' /> <a target='_blank' href='detail?id=" +  marker[i].id + "'>" + marker[i].description + "</a> </h3>";
                            d.innerHTML += "<small>" + (marker[i].born ? '{% trans 'born_in' %}' : '{% trans 'died_in' %}') + ' <a href="maps?lat=' +  marker[i].position.lat() + '&lng=' + marker[i].position.lng()+ '&km=' + (minDist / 1000) + '">' + marker[i].title + ' </a> (' +  Math.round(distance /1000) + ' ' + '{% trans 'km_away' %}' + ')</small><br/>';
                        }
                      }
                                
                    }
                    
                    $(document).ready(function()
                    {
                        findNearestMarker(new google.maps.LatLng(latc,lngc));
                    });  
                </script>    
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGqJazDaAYPXovs-mb3HBeL1eAX7i5rE&amp;callback=initMap&amp;libraries=geometry"
                    async defer>     
                </script>
                
            </div>     
        </div>  
        <div id="data" class="col-sm-5">
        
        </div>
<!--       <button id="set_marker">Set Marker</button> -->
    </div>
  </body>
</html>