{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>       
        <title>{% trans 'search' %}</title>
        {% include "fh/includes/head.html" %} 
    </head>
    <body>
        <div class="container">
            {% include "fh/includes/navbar.html" %}  
            <h1>{% trans 'show_all_entries' %}</h1>
                <table style="width:100%">
                     <tr>
                         <th>{% trans 'WIKI-ID' %}</th> 
                         <th>{% trans 'Name' %}</th>
                         <th>{% trans 'place_of_birth' %}</th>
                         <th>{% trans 'date_of_birth' %}</th>
                        <th>{% trans 'place_of_death' %}</th>
                         <th>{% trans 'date_of_death' %}</th>
                     </tr>
                    {% for e in entries %}
                         <tr>
                            <td> {{e.wiki_link}}</td>
                            <td><a href="/detail?id={{e.id}}">{{e.description}}</a></td>
                            <td><a target="_blank" href ="/maps?lat={{e.place_of_birth.lng}}&amp;lng={{e.place_of_birth.lat}}">{{e.place_of_birth.label}}</a></td>
                            <td>{{e.day_of_birth|stringformat:"02d"}}.{{e.month_of_birth|stringformat:"02d"}}.{{e.year_of_birth|stringformat:"02d"}}</td>
                            <td>
                                {% if e.place_of_death.label %}
                                    <a target="_blank" href ="/maps?lat={{e.place_of_death.lng}}&amp;lng={{e.place_of_death.lat}}">{{e.place_of_death.label}}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if e.day_of_death %}
                                    {{e.day_of_death|stringformat:"02d"}}.{{e.month_of_death|stringformat:"02d"}}.{{e.year_of_death}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>            
        </div>
    </body>
</html>
