{% load static %}
{% load i18n %}
{% load app_filters %}
{% include "fh/modals/filter_for_timeline.html" %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% trans 'timeline' %}</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        {% include "fh/includes/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'fh/fh.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fh/timeline.css' %}">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
        <script>
        var years = []
        
        $(document).ready(function()
        {
            $(".year_anchor").each(function(i, val) 
            {
                years.push(val.id);
            });
        });
        
        $( function() 
        {
            $("#slider").slider(
            {
                min: {{entries.0.0.year_of_birth}},
                max: {% now "Y" %},
                step: 1,
                value: 1900,
                
                change: function( event, ui ) 
                {
                    console.log(years);
                    years.some(function (el)
                    {   if (el >= ui.value)
                        {
                            console.log(el);
                            window.location.href = '#' + el; 
                            return el;
                        }
                    });
                }
            }).each(function() {
                // Get the options for this slider (specified above)
                var opt = $(this).data().uiSlider.options;
            
                // Get the number of possible values
                var vals = 2;
            
                // Position the labels
                var ticks = 16; //how many years should be displayed as tick points
                var len = {{entries|length}}
                for (var i = 0; i <= ticks; i++) 
                {
                    // Create a new element and position it with percentages
                    var pos = (i * len) / ticks; //get the position on the scale
                    var el = $('<label class="text-nowrap">' + Math.round(opt.min + (opt.max - opt.min)/ticks *i) + ' </label>').css('left', (i/ticks*100) + '%');
                
                    // Add the element inside #slider
                    $("#slider").append(el);
                }
            });
        });    
        </script>    
        
        <div class="container">
            {% include "fh/includes/navbar.html" %} 
            <div id="page-header" class="page-header">
                {% include "fh/includes/timeline_head.html" %} 
                <div id="slider"></div>
             </div>
                         
            <div id="timeline" >
                {% for e in entries %}  <!-- Hier werden die Entries nach einander eingetragen -->
                    <div class="year_anchor" id="{{e.0.year_of_birth}}"></div>
                        <div class="row timeline-movement">
                            <div class="timeline-badge">
                                <span class="timeline-balloon-date-year">
                                    {% if  agg == 1%}
                                        {{e.0.year_of_birth}}
                                    {% elif  agg == 10%}
                                        {{e.0.year_of_birth | decade}}0
                                    {% elif  agg == 100%}  
                                        {{e.0.year_of_birth | century}}{% trans 'abbrevationCentury' %}
                                    {% elif  agg == 1000%}      
                                        {{e.0.year_of_birth | millennium}}.
                                    {% endif %}
                                </span>
                            </div>
                            <div class="col-sm-6  timeline-item">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="timeline-panel ">
                                            <ul class="timeline-panel-ul">
                                                {%for ent in e %}
                                                    <ul class="list-group">
                                                        <li class="list-group-item no-down-border name">                                                                
                                                         <img id="img" class="img-rounded" src="{{ent.image}}" alt="Lights" height="80" />
                                                            <span class="importo"><a target="_plain" href="detail?id={{ent.id}}">{{ent.description}}, {{ent.lifespan}}</a></span>
                                                        </li>
                                                        <li class="list-group-item place"><span class="causale">{% trans 'place_of_birth' %} : <a target="_blank" href ="maps?lat={{ent.place_of_birth.lng}}&amp;lng={{ent.place_of_birth.lat}}">{{ent.place_of_birth.label}} </a></span> </li>
                                                        {% if ent.place_of_death %}
                                                            <li class="list-group-item no-updown-border place"><span class="causale">{% trans 'place_of_death' %} : <a target="_blank" href ="maps?lat={{ent.place_of_death.lng}}&amp;lng={{ent.place_of_death.lat}}">{{ent.place_of_death.label}} </a></span> </li>
                                                        {% endif %}
                                                        <li class="list-group-item {{ent.day_of_death|yesno:"no-updown-border,no-up-border" }} birth">
                                                            <small class="text-muted"><i class="glyphicon glyphicon-asterisk"></i>{{ent.day_of_birth}}.{{ent.month_of_birth}}.{{ent.year_of_birth}}</small>
                                                        </li>
                                                        {% if ent.day_of_death %}
                                                            <li class="list-group-item no-up-border death">
                                                                <p><small class="text-muted"><i class="glyphicon glyphicon-plus"></i> {{ent.day_of_death}}.{{ent.month_of_death}}.{{ent.year_of_death}}</small></P>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-5">
                                {%for ent in e%}
                                   {%for img in hws|get_value_from_dict:ent.pk %}
                                      <a href="static/fh/img/upload/{{img.link}}" target="_plain"><span class="glyphicon glyphicon-zoom-in" /></a>  
                                      <a href="static/fh/img/upload/{{img.link}}"  data-toggle="demolightbox" data-title="{{e.description}}" data-footer="{{img.title}}">{{img.title}}
                                        <img src="static/fh/img/upload/{{img.link}}" title="{{img.title}}" class="img-responsive" />
                                      </a>
                                   {% endfor %}            
                                {% endfor %}
                            </div>
                        </div>   
                {% endfor %}       
            </div>
        </div>
    </body>
</html>