<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% load static %}
        {% load i18n %}
        <title>{% trans 'upload_handwriting' %}</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'fh/fh.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fh/upload.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fh/dropzone.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fh/basic.min.css' %}">
        <script src="{% static 'fh/dropzone.min.js' %}"></script>
        <script src="{% static 'fh/upload.js' %}"></script>
        <!--         <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"> -->
        {% include "fh/includes/head.html" %}
        
        <script>
            //TODO replace with hidden div field
            var img_templ = " <br/> <br/> <div class='form-group row'>" +
                            " <img  class='img-rounded' src='static/fh/img/tmp/@link' width='220px' />" +
                            " <input class='form-control' size='40' id='desc' type='text' name='title__@link' value='' placeholder='{% trans 'label' %}'/>" +
                            " <input class='form-control' size='60' id='desc' type='text' name='desc__@link' value='' placeholder='{% trans 'source' %}'/>" +
                            " </div>";
            var id = 1;

            $(document).ready(function()
            {
                $("#step_3").hide();                
                $("#desc_2").hide();
                
                var date_input=$('input[name="date"]'); //our date input has the name "date"
                var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                date_input.datepicker({
                    format: 'mm/dd/yyyy',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                    orientation: "top left"  
                })
                
                $("#search").click(function()
                {
                    $('#entries').empty();
                    $("#search").html('{% trans 'progress...' %}');
                    name_part = $("#name_part").val();
                    $.get("search_name_service?name_part="+ name_part, function(data, status)
                    {    

                        $("#search").html('{% trans 'search' %}');
                        for (k in data)
                        {
                            $('#entries').append($('<option>',
                             {
                                value: k,
                                text : data[k]
                            }));    
                            
                            $("#wikidata_id").val(k);
                            $("#title").val(data[k]);                        
                        }
                    });
                });
                
                
                $("#entries").change(function()
                {
                    console.log('change');
                    $("#wikidata_id").val($(this).val());
                    $("#title").val($("#entries :selected").text());    
                
                     
                });
                
            });
            
            
            Dropzone.options.MyDropzone = 
            {
                dictDefaultMessage: "{% trans 'put_your_files_here' %}",
                init: function()
                {
                    /* Called once the file has been processed. It could have failed or succeded */
                    this.on("complete", function(file){
                        var img = file.xhr.responseText;
                        img = img.replace(/"/g,"");
                        img_form = img_templ.replace(/@link/g, img);
                        $("#img_container").append(img_form);
                        id++;
                        
                        //hide the upload container, not needed anymore
                        $("#MyDropzone").hide();
                        $("#desc_1").hide();
                        //show the new data entry fields
                        $("#step_3").show();
                        $("#desc_2").show();
                    });
                    
                    /* Called after the file is uploaded and sucessful */
                    this.on("sucess", function(file){
                      //  console.log("success");
                      //  console.log(file);
                    });
                    
                    /* Called before the file is being sent */
                    this.on("sending", function(file){
                      //  console.log("sending");
                    });
                    
                    /* Called before the file is being sent */
                    this.on("addedfile", function(file){
                      //  console.log("addedfile");
                    });
                }
            };  
        </script>        
        <div class="container">
            {% include "fh/includes/navbar.html" %} 
            <h3>{% trans 'upload_images_here' %}</h3>
            
            <h4 id="desc_1">1. {% trans 'upload_step_1' %}</h4>
            <form class="dropzone" action="upload_handwriting_process_imgs" method="post" enctype="multipart/form-data" id="MyDropzone">
            </form>
            <br>
            <form class="form-inline" action="upload_handwriting_process" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 id="desc_2">2. {% trans 'upload_step_2' %}</h4>
                <div id="img_container"> 
                    <!-- <br/><br/><br/><br/><br/><br/>
                        <div class="col-sm-10">
                           <img src="static/fh/img/tmp/Brief-Albert-Schweitzer-hp_PiHY82v.jpg" width="120px" />
                           <input class="form-control" id="desc" type="text" name="descname_part" value=""/>
                           <input class="form-control" id="origin" type="text" name="origin" value=""/>
                           <input class="form-control" id="user" type="text" name="user" value=""/>
                        </div> -->
                </div>
                <div id="step_3" class="form-inline row">
                    <br/>
                    <h4>3. {% trans 'upload_step_3' %}</h4>
                    <br/>
                    <input class="form-control" id="wikidata_id" placeholder="{% trans 'wikidata_id' %}" type="text" name="wikidata_id" value="{{request.GET.wiki_id}}" title="{{request.GET.description}}">
                    
                    <input class="form-control col-md-offset-2" size="40" id="name_part" type="text" placeholder="{% trans 'search_personality' %}" name="name_part" value=""> 
                    <button type="button" id="search" class="btn">{% trans 'search' %}</button>
                    <select class="form-control" id="entries">
                    </select>
                    <br/>
                    <input class="form-control" id="title" type="text" placeholder="{% trans 'title' %}" name="title" value="{{request.GET.description}}">
                    
                    <br/><br/>
                    <input class="btn btn-default" type="submit" value="{% trans 'upload' %}">
                </div>
            </form>
        </div>
    </body>
</html>
