{% load static %}
{% load i18n %}
<div class="modal fade" id="filter_time" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 style="text-align: center;">{% trans 'filter' %}</h1>
            </div>
            <br>
            <form class="form-horizontal" action="/timeline" method="get">
                {% csrf_token %}
                <input id="filterName" type="text" name="filterName" placeholder="{% trans 'name' %}" value="">
                <input id="filterLang" type="text" name="filterLang" placeholder="{% trans 'language' %}" value="" disabled style="background-color: #ccc;">
                <input id="filterLoc" type="text" name="filterLoc" placeholder="{% trans 'location' %}" value="">
                <input type="hidden" name="agg" value="{{agg}}"/>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger" style="left: 0;" data-dismiss="modal">Cancel</button> -->
                    <input type="submit" class="btn btn-success" value="{% trans 'apply' %}">
                    <!-- <input type="submit" name="apply" value="{% trans 'apply_filters' %}"> -->
                </div>
            </form>
        </div>
    </div>
</div>