{% load static %}
{% load i18n %}
<div class="modal fade" id="register_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>{% trans 'register' %}</h1>
            <br>
            <form action="register_process" method="post">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="{% trans 'first_name' %}">
                <input type="text" name="last_name" placeholder="{% trans 'last_name' %}">
                <input type="text" name="email" placeholder="{% trans 'email' %}">
                <input type="password" name="password" placeholder="{% trans 'password' %}">
                <input type="password" name="password2" placeholder="{% trans 'retype_password' %}">
                
                <input type="submit" name="register" class="login loginmodal-submit" value="{% trans 'register' %}">
            </form>
            
        </div>
    </div>
</div>

