{% load static %}
{% load i18n %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index">{% trans 'famous_hands' %}</a>
        </div>
        <ul class="nav navbar-nav">
            {% if request.session.user %} 
                <li><a href="/upload_handwriting">{% trans 'upload_handwriting' %}</a></li>
            {% endif %}
            
            {% if request.session.user == 'admin' %} 
                <li><a href="/fh_admin">{% trans 'admin' %}</a></li>
            {% endif %}
            
            <li><a href="maps">{% trans 'maps' %}</a></li>
            <li><a href="timeline">{% trans 'timeline' %}</a></li>
            {% if messages %}
                <li>
                    <span class="alert alert-warning">
                        {% for message in messages %}
                            {{ message}}
                        {% endfor %}
                    </span>
                </li>    
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto">
            <li>
                <form method="POST" action="/search" class="form-inline">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="text" placeholder="{% trans 'Search(date:DD/MM/JJJJ)' %}" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'search' %}</button>
                </form>
            </li>
            {% if request.session.user %}
                <li>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle"  data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{{request.session.user.userName}}</a></li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </div> 
                </li>
            {% else %}
                <li><a href="#" data-toggle="modal" data-target="#login_modal">{% trans 'login' %}</a> </li>
            {% endif %}
        </ul>
        <br>
        
    </div>
</nav>
{% include "fh/modals/login.html" %} 
